{% extends 'core/base.html' %}

{% load static %}

{% block title %}Alertas{% endblock %}

{% block content %}
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 mx-auto">
        <div class="cta-inner text-center rounded">
          <h1 class="section-heading mb-4">
            <span class="section-heading-upper">Control Supervisado de las Últimas Ventas Mayoristas</span>
          </h1>
          <p class="mb-0">Desarrollar servicios de excelencia junto a nuestros colaboradores y proveedores, para dar valor a nuestros ferreteros y sus clientes.</p>
        </div>
        <div>
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-6"><span class="section-heading-upper">Última compra realizada por el cliente</span></h2>
            {% if message %}
            <table class="table">
              <thead>
                <tr>
                  <th>Listado</th>
                </tr>
              </thead>
              <tbody>
                {% for messages in message %}
                <tr>
                  <td>{{ messages.0 }} {{ messages.1 }} {{ messages.2 }} {{ messages.3 }} {{ messages.4 }} </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}