{% extends 'core/base.html' %}

{% load static %}

{% block title %}Historial Compra{% endblock %}

{% block content %}

<!-- Mensaje -->
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">
            <span class="section-heading-upper"><h1>Historial Compra</h1></span>
          </h2>
          <table>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
            </tr>
            <tr>
              <td>Peter</td>
              <td>Griffin</td>
            </tr>
            <tr>
              <td>Lois</td>
              <td>Griffin</td>
            </tr>
          </table>
      </div>
    </div>
  </div>
</section>
{% endblock %}